body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.header {
    font-size: 24px;
    border-bottom: 2px solid #0056b3;
    padding-bottom: 10px;
    margin-top: 20px; /* Reduced margin-top for closer header */
}

.about p {
    margin-top: 0; /* Remove top margin from paragraphs in about */
    margin-bottom: 10px; /* Reduced bottom margin for tighter paragraph spacing */
}

.name, .papertitle {
    color: #0056b3;
    font-weight: bold;
}

.menulink:hover {
    text-decoration: underline;
    color: #01447e;
}

.instilogo {
    height: 50px;
    filter: grayscale(20%);
}

a:hover {
    /* font-weight: 400; */
    text-decoration: none;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    /* color: #444; */
}


.noter {
    font-size: 9pt;
}

.tagsep {
    padding: 4px;
}

.tag {
    padding-right: 2px;
}

.confshort {
    font-weight: 300;
}

.conf {
    display: inline-block;
    padding-bottom: 4px;
}

.paper {
    border-left: 1px solid #ddd;
}

.menulink:hover {
    color: #111;
}

.profilepic {
    width: 150px;
    border-radius: 40%;
    filter: grayscale(30%);
}

@media (min-width: 768px) {
    .fixed-posi {
        /* width: 50%;
            margin-left: 50%;
            min-height:100%; */
        position: fixed;
    }
}

@media only screen and (max-width: 900px) {
    .allstuff {
        padding-top: 0px !important;
    }

    .allstuffp {
        padding-top: 0px !important;
    }

    .profilepic {
        width: 90px;
        border-radius: 40%;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        filter: grayscale(30%);
    }

    .menur {
        padding-top: 18px !important;
    }

}

/* .thisauthor {
          color: #111;
          text-decoration: underline;
    } */

.announcement {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.announcement ul {
    list-style-type: none;
    padding-left: 0;
}

.announcement li {
    margin-bottom: 8px;
    color: #333;
}

